@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #e6e6e6;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #adadad;
}

::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}

body {
  @apply bg-bg;
  font-family: "Inter", sans-serif;
  padding-top: env(safe-area-inset-top);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Syne", sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    backdrop-filter: blur(0);
  }
  to {
    opacity: 1;
    backdrop-filter: blur(5px);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    backdrop-filter: blur(5px);
  }
  to {
    opacity: 0;
    backdrop-filter: blur(0);
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

.fade-in-two {
  animation: fadeIn 0.75s ease-in-out;
}

.fade-out {
  animation: fadeOut 0.5s ease-in-out;
}
