@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importing fonts */
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #e6e6e6;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #adadad;
}

::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}

/* Base styles */
body {
  @apply bg-bg;
  font-family: "Karla", sans-serif;
  padding-top: env(safe-area-inset-top);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
}

/* Keyframe animations */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInBackground {
  from {
    opacity: 0;
    backdrop-filter: blur(0);
  }
  to {
    opacity: 1;
    backdrop-filter: blur(5px);
  }
}

@keyframes fadeOutBackground {
  from {
    opacity: 1;
    backdrop-filter: blur(5px);
  }
  to {
    opacity: 0;
    backdrop-filter: blur(0);
  }
}

/* Applying animations */
.fade-up {
  animation: fadeUp 1s ease-in-out;
}

.fade-up-two {
  animation: fadeUp 1.5s ease-in-out;
}

.fade-up-three {
  animation: fadeUp 2s ease-in-out;
}

.fade-up-four {
  animation: fadeUp 2.5s ease-in-out;
}

.fade-in-background {
  animation: fadeInBackground 0.5s ease-in-out;
}

.fade-out-background {
  animation: fadeOutBackground 0.5s ease-in-out;
}

@keyframes fadeInDropdown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#experience-section {
  /* Default for mobile sizes */
  scroll-margin-top: 60px; /* Default height of the navbar for mobile screens */
}

@media (min-width: 640px) {
  /* Small screens (sm) and above */
  #experience-section {
    scroll-margin-top: 70px; /* Height of the navbar at sm breakpoint */
  }
}

@media (min-width: 768px) {
  /* Medium screens (md) and above */
  #experience-section {
    scroll-margin-top: 75px; /* Height of the navbar at md breakpoint */
  }
}
